html {
  font-family: 'Courier New', Courier, monospace;
}

a {
  padding: 2pt;
  background-color: linen;
  color: red;
}

em {
  background: linear-gradient(
    to right,
    rgba(150, 246, 238, 1),
    rgba(18, 146, 222, 1)
  );
  padding: 2pt;
}

strong {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  padding: 2pt;
}

#friends {
}

#auth {
  margin: 10pt 20pt;
}

#content {
  margin: 10pt 20pt;
}

dt::after {
  content: ':';
}

dl.inline dt {
  display: inline-block;
  margin: 2pt 0;
  padding: 2pt;
  font-weight: bold;
  background-color: lightpink;
}

dl.inline dd {
  display: inline;
  margin: 0 0 0 8pt;
}

dl.inline dd:after {
  display: block;
  content: '';
}

.boxy {
  display: inline-block;
  margin: 10pt 0;
  padding: 4pt;
  text-align: center;
  font-size: 2em;
}

.boxy.build {
  background: linear-gradient(90deg, #fdbb2d 0%, #22c1c3 100%);
}

.boxy.abort {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.boxy.home {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}

button,
a.button {
  border: none;
  background-color: lightgray;
  padding: 2pt 8pt;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/* via https://codepad.co/snippet/big-red-button */
.big-red-button {
  box-shadow: 0px 15px 0 20px #352d2d, 0px 40px 0 30px #000000;
  cursor: pointer;
  background-color: #c0392b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  width: 180px;
  height: 60px;
  transform: translateX(0%);
  color: white;
  margin: 100px 60px;
}

.big-red-button::before {
  content: '';
  z-index: 1;
  border-radius: 50%;
  background-color: #e74c3c;
  position: absolute;
  bottom: 100%;
  left: 0%;
  transition: bottom 0.4s;
  width: 180px;
  height: 60px;
}

.big-red-button::after {
  content: '';
  background-color: #c0392b;
  position: absolute;
  bottom: 50%;
  left: 0%;
  width: 180px;
  height: 60px;
  transition: height 0.4s;
}

.big-red-button:active::before {
  bottom: 10%;
}

.big-red-button:active::after {
  height: 10%;
}
